// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

html {
    font-family: $base-font-family;
    font-style: normal;
    font-size: $base-font-size;
    line-height: em($base-line-height);
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern', 'liga';
    hyphens: auto;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: $brand-color;
    color: #FFF;
}

@include generate-font-sizes();

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: em($base-line-height);
}
