//------------------------------------------------------------------------------
// Challenge
//------------------------------------------------------------------------------

.Challenge {
    @include grid-span(6);

    margin-bottom: 40px;

    @include breakpoint(bk-mq('medium')) {
        @include grid-span(8, 2);

        clear: both;
        margin-top: -300px;
    }

    @include breakpoint(bk-mq('large')) {
        @include grid-span(8, 4);

        clear: both;
        margin-top: -340px;
    }

    &-codepen {
        display: block;
        vertical-align: bottom;
        position: relative;
        background-image: url('../images/codepen-logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
        width: 256px;
        height: 256px;
        margin-right: $u * 10;
        margin-bottom: $u * 6;
    }
}
