//------------------------------------------------------------------------------
// Icon
//------------------------------------------------------------------------------

.Icon {
    $icon-size: 40px;

    @extend %text-image-replacement;

    display: inline-block;
    width: em($icon-size);
    height: em($icon-size);
    font-size: $base-font-size;
    background-size: em($icon-size);
    background-repeat: no-repeat;

    &--github {
        background-image: url('../images/github-logo.svg');
    }

    &--twitter {
        background-image: url('../images/twitter-logo.svg');
    }
}
