//------------------------------------------------------------------------------
// Header
//------------------------------------------------------------------------------

.Header {
    @extend %section--centered;
    @include clearfix;

    padding-top: $u * 10;
    padding-bottom: $u * 10;

    a {
        @extend %linkify;
        transition-duration: 0.2s;
        font-weight: bold;
    }

    &-topics {
        @include grid-span(5);

        hyphens: none;
    }

    @include breakpoint(bk-mq('medium')) {
        &-topics {
            @include grid-span(10);
            font-size: font-size('alpha');
        }
    }
}
