/* stylelint-disable max-line-length */

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 19px;
$base-line-height: 30px;

$font-sizes: (
    'small': (
        'sizes': (
            'giga'   : ('size': 48px, 'line-height': 1em),
            'mega'   : ('size': 52px, 'line-height': 1.15em),
            'kilo'   : ('size': 44px, 'line-height': 1.15em),
            'alpha'  : ('size': 32px, 'headings': (h1)),
            'beta'   : ('size': 28px, 'headings': (h2)),
            'gamma'  : ('size': 19px, 'headings': (h3)),
            'delta'  : ('size': 16px, 'headings': (h4, h5, h6)),
            'epsilon': ('size': 14px),
            'zeta'   : ('size': 12px),
            'milli'  : ('size': 10px),
            'micro'  : ('size': 9px),
            'nano'   : ('size': 8px),
        )
    ),
    'medium': (
        'sizes': (
            'giga'   : ('size': 72px, 'line-height': 1em),
            'mega'   : ('size': 52px, 'line-height': 1.15em),
            'kilo'   : ('size': 46px, 'line-height': 1.15em),
            'alpha'  : ('size': 32px, 'line-height': 1.3em, 'headings': (h1)),
            'beta'   : ('size': 28px, 'headings': (h2)),
            'gamma'  : ('size': 19px, 'headings': (h3)),
            'delta'  : ('size': 16px, 'headings': (h4, h5, h6)),
            'epsilon': ('size': 14px),
            'zeta'   : ('size': 12px),
            'milli'  : ('size': 10px),
            'micro'  : ('size': 9px),
            'nano'   : ('size': 8px),
        )
    ),
    'large': (
        'sizes': (
            'giga'   : ('size': 72px, 'line-height': 1em),
            'mega'   : ('size': 52px, 'line-height': 1.15em),
            'kilo'   : ('size': 46px, 'line-height': 1.15em),
            'alpha'  : ('size': 32px, 'headings': (h1)),
            'beta'   : ('size': 28px, 'headings': (h2)),
            'gamma'  : ('size': 19px, 'headings': (h3)),
            'delta'  : ('size': 16px, 'headings': (h4, h5, h6)),
            'epsilon': ('size': 14px),
            'zeta'   : ('size': 12px),
            'milli'  : ('size': 10px),
            'micro'  : ('size': 9px),
            'nano'   : ('size': 8px),
        )
    ),
);

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$white: #FFF;
$gray: #737373;
$dark-gray: #333;

$brand-color: #6B2AFE;
$base-text-color: $gray;
$inverted-text-color: $white;
$strong-text-color: $dark-gray;
$link-color: $brand-color;

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

$content-width: 1400px;

// ----------------------------------------------------------------------------
// Spacing
// ----------------------------------------------------------------------------

$base-grid-unit: 6px;
$double-grid-unit: $base-grid-unit * 2;

// Aliases
$u: $base-grid-unit;
$u2: $double-grid-unit;

// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$breakpoints: (
    'medium': ('min-width': 900px),
    'large':  ('min-width': 1200px)
);

// ----------------------------------------------------------------------------
// Debug
// ----------------------------------------------------------------------------

$grid-breakpoints: (
    'small':  ('cols': 6, 'gutter': 1/3),
    'medium': ('cols': 12, 'gutter': 1/3),
    'large':  ('cols': 16, 'gutter': 1/3)
);

$grid-debug: false;
$grid-debug-above: true;
